/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #a2dda9;
  font-family: "Open Sans", sans-serif;
  padding: 10px 50px;
  font-size: 20px;
  margin: 30px;
  color: rgba(75, 85, 198, 0.74);
  text-decoration-line: underline;
  text-align: center;
}

h1 {
  font-family: "comic sans", serif;
  font-size: 32px;
}
.imagespacingexperiment {
  width: 400px;
  margin: 40px;
  
}
